.NavDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 1250px;
}
.Navdiv1 {
  display: flex;
  width: 7%;
}
.Navdiv2 {
  display: flex;
  flex-direction: column;
  width: 63%;
}
.Navdiv3 {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}
.DocNameDiv {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}
.FileSectionDiv {
  display: flex;
  width: 100%;
}
.FileSectionSpan {
  font-size: 1rem;
  margin-right: 1.2rem;
}
.Navdiv3Span {
  color: black;
  font-size: 1rem;
  width: fit-content;
  border: 1px solid;
  border-radius: 2rem;
}
.Navdiv3button {
  display: flex;
  width: 6.5rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(144 202 249 / 76%);
  border-radius: 50px;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* .Navdiv3button>p{
font-size: 2rem;
font-weight: 600;
} */
